In [10]:
a= list() #[]

for i in range(1,26,3) :
    a.append(i)  #리스트에 데이터 넣기
print(a)

[1, 4, 7, 10, 13, 16, 19, 22, 25]

In [3]:
a = list(range(1,11,2))
print(a)

[1, 3, 5, 7, 9]

In [4]:
a = [range(1,11,2)]
print(a)

[range(1, 11, 2)]

In [10]:
colors = ['red', 'blue','black','white']

print(colors[0])
print(colors[1:3])

red
['blue', 'black']

나는 red.
나는 blue.
나는 black.
나는 white.

In [50]:
a = [1,2,3]
b = [4,5,6,7]
c = a+b
print(c)

c[2] = 10
c.append(3)
c.sort()
c.reverse()

print(c)
print(c.pop())
print(c)
c.insert(0,100)
print(c)
print(c.count(6))

[1, 2, 3, 4, 5, 6, 7]
[10, 7, 6, 5, 4, 3, 2, 1]
1
[10, 7, 6, 5, 4, 3, 2]
[100, 10, 7, 6, 5, 4, 3, 2]
1

In [83]:
a = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
for i in range(3) :
    for j in range(4) :
        print (f'{a[i][j]:4}',end=' ')
    print()

   1    2    3    4
   5    6    7    8
   9   10   11   12

In [97]:
num = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
for i in range(3) :
    for j in range (4) :
        print (f"{num[i][j]:5}",end=' ')
    print()

    1     2     3     4
    5     6     7     8
    9    10    11    12

In [110]:
a = list()
for i in range(0,201,3) :
    a.append(i)
a.remove(0)
print(f'1~200중 3의 배수는 : {a}')

1~200중 3의 배수는 : [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [4]:
a = list()
for i in range(1,201) :
    if i % 3 == 0:
        a.append(i)
print(f'1~200중 3의 배수는 : {a}')

1~200중 3의 배수는 : [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [5]:
a= [i for i in range(1,201) if i % 3 == 0]
print(f'1~200중 3의 배수는 : {a}')

1~200중 3의 배수는 : [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [1]:
a = ['BTS','트와이스','블랙핑크','뉴이스트']
s = []

for idx,value in enumerate(a) :
    tmp = int(input(f'{value} 의 성적 입력 : '))
    s.append(tmp)
     성적 결과')
print('-'*30)

result = ''
print('-'*30)
print('아이돌
for i in range(len(a)) :
    if s[i] >= 80: result = '수료'
    else : result = '미수료'
        
    print(f'{i}의 성적은 {s[i]} 점 : {result}')

BTS 의 성적 입력 : 100
트와이스 의 성적 입력 : 50
블랙핑크 의 성적 입력 : 90
뉴이스트 의 성적 입력 : 80
------------------------------
아이돌 성적 결과
------------------------------
0의 성적은 100 점 : 수료
1의 성적은 50 점 : 미수료
2의 성적은 90 점 : 수료
3의 성적은 80 점 : 수료

In [4]:
a = ['BTS','트와이스','블랙핑크','뉴이스트']
s = []

for idx,value in enumerate(a) :
    tmp = int(input(f'{value} 의 성적 입력 : '))
    s.append(tmp)
    
print('-'*30)
print('아이돌 성적 결과')
print('-'*30)

result = [ for i in range(len(a)) if s[i] >= 80 else = '수료' else : result = '미수료']


    print(f'{i}의 성적은 {s[i]} 점 : {result}')

SyntaxError: invalid syntax (Temp/ipykernel_10296/3096296755.py, line 12)

In [8]:
# 윤년 : year % 400 == 0 or (year % 100 != and year % 4 == 0)




dates = [31,28,31,30,31,30,31,31,30,31,30,31]

for idx,val in enumerate(a) :
    print()
    



print('YYYYMMDD : {}')
print('-'*30)

0
1
2
3
YYYYMMDD : {}
------------------------------